body{background: background;}

#experiment-header-logo{
    padding-left: 10px;
    padding-right: 10px;
}
#main-wrapper{
    border-radius: 5px;    
    background-color: aliceblue;
    width: 1310px;
    height: 700px;
    padding-left: 5px;
    border: 2px solid navy;
    margin: 10px;
}
#input-wrapper{
    float: left;
    width: 450px;
    // border: solid 1px red;
}
#canvas3d-wrapper{
    display: inline-block;
    margin:0 auto;    
    width: 660px;
    //padding-left: 50px;
    // border: 2px solid brown;
}
#canvas3d-title, #controller-title, #graph-title, #input-title{
    height: 25px;
    color: #638EA8;
    background-color: #E4EAED;    
    border-top: 1px #85A8C2 solid;
    border-right: 1px #85A8C2 solid;
    border-bottom: 1px #85A8C2 solid;
    border-left: 1px #85A8C2 solid;    
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}
#canvas3d-view{
    color: #638EA8;
    height: 600px;   
    border-top: 1px #85A8C2 solid;
    border-right: 1px #85A8C2 solid;
    border-bottom: 1px #85A8C2 solid;
    border-left: 1px #85A8C2 solid; 
}
#controller-graph-wrapper{
    float: right;
    padding-right: 5px;
    width: 340px;
}
#controller-wrapper{
}
#graph-wrapper{
    height: 150px;
    background-color: #E4EAED;
}
#controller-view{
    height: 310px;
    // border: solid 1px brown;
}
#graph-view{}
#input-wrapper{
    width: 300px;
    height: 650px;
    padding-left: 1px;

}
#puma-560-footer{
    background-color:  blanchedalmond;
    text-align: center;
    height: 20px;
    width: 1310px;
    padding-left: 10px;
    padding-right: 10px;
}

 #myTable, th, td{               
                border: 1px solid black;            
            }